[submodule "theme/bootstrap"]
	path = theme/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "theme/Font-Awesome"]
	path = theme/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
