{% extends 'base.html' %}

{% block lang %}{{ article.lang }}{% endblock %}

{% block metadata %}
  <meta name="author" content="{{ article.authors|join(', ') }}" />
  <meta name="description" content="{{ article.summary|default(article.title)|striptags }}" />
  <meta name="keywords" content="{{ article.tags|join(', ') }}" />
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

  <article itemscope itemtype="http://schema.org/Article">

    <header class="page-header">
      <div class="row">
        <h1 class="col-sm-8 col-md-9">
          <span itemprop="name">
            {{ article.title }}
          </span>
          {% set authors = article.authors %}
          {% if authors|length == 1 and authors[0] == AUTHOR %}
            <meta itemprop="author" content="{{ article.author }}" />
          {% else %}
            <small>
              by
              {% for author in authors %}
                <a href="{{ SITEURL }}/{{ author.url }}" itemprop="author">{{ author.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </small>
          {% endif %}
        </h1>

        <aside class="col-sm-4 col-md-3">
          {% include 'include/article-date.html' %}<br />
          {% include 'include/article-tags.html' %}
        </aside>
      </div>
    </header>

    <div itemprop="articleBody">
      {{ article.content }}
    </div>

  </article>

  {% include 'include/disqus-comments.html' %}

{% endblock %}
