{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
  <h1 class="page-header"><i class="fa fa-folder-open"></i> Categories</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Number of articles</th>
      </tr>
    </thead>
    <tbody>
      {% for category, articles in categories %}
        <tr>
          <td><a href="/{{ category.url }}">{{ category.name }}</a></td>
          <td>{{ articles|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
