{% extends 'base.html' %}

{% block content %}

  <header>
    <h1 class="page-header">
      {{ SITENAME }}
      {% if SITESUBTITLE %}
        <small>{{ SITESUBTITLE }}</small>
      {% endif %}
    </h1>
  </header>

  {% if articles %}
    {% set article = articles.pop(0) %}
    <div class="jumbotron">
      {% include 'include/article.html' %}
    </div>
  {% endif %}

  {% if articles %}
    <hr />

    <section>
      <header>
        <h2 class="text-center">More articles</h2>
      </header>

      <section class="columns">
        {% for article in articles %}
          {% include 'include/article-cell.html' %}
        {% endfor %}
      </section>
    </section>
  {% endif %}
{% endblock %}
