{% extends 'base.html' %}

{% block content %}

  <header>
    <h1 class="page-header">
      {{ SITENAME }}
      {% if SITESUBTITLE %}
        <small>{{ SITESUBTITLE }}</small>
      {% endif %}
    </h1>
  </header>

  {% if articles %}
    {% set article = articles.pop(0) %}
    <article class="jumbotron">
      <header>
        <h1><a href="/{{ article.url }}">{{ article.title }}</a></h1>
      </header>
      {{ article.summary }}
      {% include 'include/article-footer.html' %}
    </article>
  {% endif %}

  {% if articles %}
    <hr />

    <section>
      <header>
        <h2 class="text-center">More articles</h2>
      </header>

      <section class="row">
        {% for article in articles %}
          {% include 'include/article.html' %}
        {% endfor %}
      </section>
    </section>
  {% endif %}
{% endblock %}
