{% extends 'base.html' %}

{% block content %}

  <h1 class="page-header">{{ SITENAME }} <small>{{ SITESUBTITLE }}</small></h1>

  {% if articles %}
    {% set article = articles.pop(0) %}
    <div class="jumbotron text-center">
      <h1><a href="/{{ article.url }}">{{ article.title }}</a></h1>
      <p>{{ article.summary }}</p>
    </div>
  {% endif %}

  {% if articles %}
    <hr />

    <h2 class="text-center">More articles</h2>

    <div class="row">
      {% for article in articles %}
        {% include 'include/article.html' %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
