<nav class="navbar navbar-default navbar-fixed-bottom footer" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#footer-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if GITHUB_URL %}
        <a class="navbar-brand" href="{{ GITHUB_URL }}"
           title="Source of this blog">
          <i class="fa fa-code fa-fw fa-lg"></i>
        </a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="footer-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% for text, url in LINKS %}
          <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% for text, url in SOCIAL %}
          <li>
            <a href="{{ url }}" title="{{ text }}" class="hidden-xs">
              <i class="fa fa-{{ text.lower() }} fa-fw fa-lg"></i>
            </a>
            <a href="{{ url }}" class="visible-xs">
              <i class="fa fa-{{ text.lower() }} fa-fw"></i> {{ text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
