<div class="footer navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      {% if GITHUB_URL %}
        <li>
          <a href="{{ GITHUB_URL }}"
             title="Source of this blog"><i class="fa fa-code fa-fw fa-lg"></i></a>
        </li>
      {% endif %}
      {% for text, url in LINKS %}
        <li><a href="{{ url }}">{{ text }}</a></li>
      {% endfor %}
    </ul>
    <ul class="nav navbar-nav pull-right">
      {% for text, url in SOCIAL %}
        <li>
          <a href="{{ url }}" title="{{ text }}" class="hidden-xs">
            <i class="fa fa-{{ text.lower() }} fa-fw fa-lg"></i>
          </a>
          <a href="{{ url }}" class="visible-xs">
            <i class="fa fa-{{ text.lower() }} fa-fw"></i> {{ text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
