<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-folder-open"></i> Categories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}>
                  <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        <li>
          <a href="{{ SITEURL }}/{{ TAGS_URL|default('tags.html') }}">
            <i class="fa fa-tags"></i> Tags
          </a>
        </li>
        <li>
          <a href="{{ SITEURL }}/{{ ARCHIVES_URL|default('archives.html') }}">
            <i class="fa fa-archive"></i> Archives
          </a>
        </li>
        {% if authors|length > 1 %}
          <li>
            <a href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors.html') }}">
              <i class="fa fa-users"></i> Authors
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% for p in pages %}
          <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
